<h1>Options</h1>

<style type="text/css">
    .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #9dcc7a;border-collapse: collapse;}
    .tftable th {font-size:12px;background-color:#abd28e;border-width: 1px;padding: 8px;border-style: solid;border-color: #9dcc7a;text-align:left;}
    .tftable tr {background-color:#bedda7;}
    .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #9dcc7a;}
    .tftable tr:hover {background-color:#ffffff;}
</style>

<table class="tftable" border="1">
  <tr><th>method</th><th>URI Pattern</th></tr>
  <tr><td>OPTIONS</td><td>/</td></tr>
  <tr><td>GET</td><td>/words(.:format) </td></tr>
  <tr><td>POST</td><td>/words(.:format) </td></tr>
  <tr><td>GET</td><td> /words/new(.:format) </td></tr>
  <tr><td>GET</td><td> /words/:id/edit(.:format) </td></tr>
  <tr><td>GET</td><td> /words/:id(.:format) </td></tr>
  <tr><td>PUT</td><td>/words/:id(.:format) </td></tr>
  <tr><td>PATCH</td><td>/words/:id(.:format) </td></tr>
  <tr><td>DELETE</td><td>/words/:id(.:format) </td></tr>
</table>

